$black: #333;
$white: #fff;
$gray: #282828;
$blueSubstrate: rgba(41,45,62,0.8);
$backgroundNav: #2b3040;
$backgroundContent: #212534;
$titleNav: #8d91a3;
$textDescription: #b7bacd;
$sale: #fedc3f;
$starGold: #ffdd3f;
$starDark: #4b536b;
$btn: #13e28d;
$btnHover: #3e4cb4;
